<nav>
  <app-card-header></app-card-header>

  <div class="menu">
    <button  [mat-menu-trigger-for]="clientMenu">
      <div class="menu-title">
        <img src="img/user.svg" alt="">
        Clientes
      </div>
    </button>
    <mat-menu #clientMenu="matMenu" yPosition="below" xPosition="before">
      <button mat-menu-item (click)="navigateTo('clients/new-client')">
        Cadastro
      </button>
      <button mat-menu-item (click)="navigateTo('clients/list')">
        Listagem
      </button>
    </mat-menu>

    <button  [mat-menu-trigger-for]="scheduleMenu">
      <span class="menu-title">
        <img src="img/calendar.svg" alt="">
        Agendar
      </span>
    </button>
    <mat-menu #scheduleMenu="matMenu" yPosition="below" xPosition="before">
      <button mat-menu-item (click)="navigateTo('schedules/month')">Calendário</button>
    </mat-menu>
  </div>
</nav>
